#banner-search {
  background-image: url(/assets/images/Depositphotos_77182329_original.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
