/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "Grand-Hotel";
  src: url('assets/fonts/fonts/grand-hotel/webfontkit-20171123-180437/grandhotel-regular-webfont.ttf');
}

.logo {
  font-family: "Grand-Hotel";
  font-size: 4.5rem;
}